* {
  box-sizing: border-box;
}
body{
	background-color:#eeeeee;	
	font-family: 'Alata', sans-serif;
}
p{	
	display: flex; /* or inline-flex */
	background-color:#222831;
	color: gray;
	padding:10%;
}
/*grid*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  background-color: #2196F3;
  padding: 10px;
}

/*.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
/*  font-size: 30px;*/
}*/

.item1 {
  grid-row-start: 1;
  grid-row-end: 5;
}
/*grid ends*/

/*carousel*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
/*end carousel*/
img{
	width:100%;
	height: auto;
}

/*footer{
	background-color:#222831; 
	width: 100%;
	height: 50%;

}*/

.footer {
    background-color: #222831;
    padding-top: 60%;
}
.mt-auto, .my-auto {
    margin-top: auto!important;
}
.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
