* {
  box-sizing: border-box;
}
body{
	background-color:#eeeeee;	
	font-family: 'Alata', sans-serif;
}
p{	
	display: flex; /* or inline-flex */
	background-color:#222831;
	color: gray;
	padding:10%;
}
/*grid*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  background-color: #2196F3;
  padding: 10px;
}

/*.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
/*  font-size: 30px;*/
}*/

.item1 {
  grid-row-start: 1;
  grid-row-end: 5;
}
/*grid ends*/

.container-fluid {
	display: flex; /* or inline-flex */
	color: black 30%;
	padding-top: 5%;
	padding: 5%;
}
.carousel-item{
	width: 30%;
}
/*carousel*/
.carousel{
	width: 30%;
}
/*end carousel*/
img{
	width:100%;
	height: auto;
}